<%- include('partials/header') %>
<main>
    <section class="home-presentation">
        <img src="/images/cup-table-2.png" class="background-img" alt="">
        <div class="description">
            <h2>Le meilleur du café torréfié</h2>
            <p>Découvrez notre sélection exclusive de cafés 
                torréfiés, soigneusement choisis pour satisfaire 
                les palais les plus exigeants. </p>
            <a href="/catalog" class="link-catalog">Voir le catalogue</a>
        </div>
    </section>
    <section class="news">
        <div class="new-products--list">
            <h3 class="decorated">Nos cafés</h3>
            <p>Découvrez notre sélection de cafés</p>
        </div>
        <div class="random-products">
            <% if (randomCoffees.length === 0) { %>
            <p>Aucun café disponible pour le moment.</p>
            <% } else { %>
                <% randomCoffees.forEach(coffee => { %>
                    <article class="product">
                        <div class="product-image">
                            <img src="/images/coffees/<%= coffee.reference %>.png"
                                alt="Café <%= coffee.name %>">
                        </div>

                        <div class="product-content">
                            <h4><%= coffee.name %></h4>
                            <p><%= coffee.description %></p>
                        </div>
                        
                        <a href="#" class="btn-link">Ajouter au panier</a>             
                    </article>
                <% }); %>
            <% } %>
        </div>
    </section>
</main>
<%- include('partials/footer') %>